<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>second</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
  	<servlet-name>aaa</servlet-name>
  	<servlet-class>lesson.FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	  <servlet-name>aaa</servlet-name>
	  <url-pattern>/aaa</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>second</servlet-name>
  	<servlet-class>lesson.SecondServlet</servlet-class>
  </servlet>

    <servlet-mapping>
	  <servlet-name>second</servlet-name>
	  <url-pattern>/second</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>lesson.TestServlet</servlet-class>
  </servlet>

    <servlet-mapping>
	  <servlet-name>test</servlet-name>
	  <url-pattern>/test</url-pattern>
  </servlet-mapping>




  <servlet>
  	<servlet-name>session1</servlet-name>
  	<servlet-class>lesson.Session1Servlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>session1</servlet-name>
	  <url-pattern>/session1</url-pattern>
  </servlet-mapping>


    <servlet>
  	<servlet-name>session2</servlet-name>
  	<servlet-class>lesson.SessionServlet2</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>session2</servlet-name>
	  <url-pattern>/session2</url-pattern>
  </servlet-mapping>


    <servlet>
  	<servlet-name>session3</servlet-name>
  	<servlet-class>lesson.SessionServlet3</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>session3</servlet-name>
	  <url-pattern>/session3</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>setattr</servlet-name>
  	<servlet-class>SetAttributeServlet.SetAttributeServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>setattr</servlet-name>
	  <url-pattern>/setattr</url-pattern>
  </servlet-mapping>

    <servlet>
  	<servlet-name>useBean</servlet-name>
  	<servlet-class>SetAttributeServlet.UseBeanServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>useBean</servlet-name>
	  <url-pattern>/useBean</url-pattern>
  </servlet-mapping>

      <servlet>
  	<servlet-name>test_entry</servlet-name>
  	<servlet-class>web.FortuneServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>test_entry</servlet-name>
	  <url-pattern>/test_entry</url-pattern>
  </servlet-mapping>










      <servlet>
  	<servlet-name>login_page</servlet-name>
  	<servlet-class>web.LoginServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>login_page</servlet-name>
	  <url-pattern>/login_page</url-pattern>
  </servlet-mapping>

        <servlet>
  	<servlet-name>search_page</servlet-name>
  	<servlet-class>web.SearchServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>search_page</servlet-name>
	  <url-pattern>/search_page</url-pattern>
  </servlet-mapping>

        <servlet>
  	<servlet-name>complete_page</servlet-name>
  	<servlet-class>web.CompleteServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>complete_page</servlet-name>
	  <url-pattern>/complete_page</url-pattern>
  </servlet-mapping>

          <servlet>
  	<servlet-name>kensaku</servlet-name>
  	<servlet-class>web.CompleteServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>kensaku</servlet-name>
	  <url-pattern>/kensaku</url-pattern>
  </servlet-mapping>

          <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>web.CompleteServlet</servlet-class>
  </servlet>
    <servlet-mapping>
	  <servlet-name>logout</servlet-name>
	  <url-pattern>/logout</url-pattern>
  </servlet-mapping>




</web-app>